<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>学生头像上传</h2>
  <form method="post" action="/admin/borrow/s_upload" enctype="multipart/form-data">
    <div>
      <img src="{{s_img}}" style="width:50px;height:50px">
    </div>
    学号:<input type="text" name="stu_id" value="2018080371" readonly style="border:none;outline:none"><br>
    <input type="file" name="file">
    <input type="submit" value="提交">
  </form>
</body>

</html>