<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>管理员头像上传</h2>
  <form method="post" action="/admin/manager/m_upload" enctype="multipart/form-data">
    <div>
      <img src="{{m_img}}" style="width:50px;height:50px">
    </div>
    管理员账号:<input type="text" name="manager_zh" value="123456" readonly style="border:none;outline:none"><br>
    <input type="file" name="file">
    <input type="submit" value="提交">
  </form>
</body>

</html>